.homescreen-container{
    display: flex;
    flex-direction: column;
}


/* First container */
.homescreen-body-conatiner1{
    display: flex;
    flex-direction: row;
}

.homescreen-text{
    display: flex;
    flex-direction: column;
    justify-content: center; 
    width: 45%;
    overflow-wrap: break-word;
    background: rgba(54, 136, 154, 0.13);
    border-radius: 60%;
    margin-top: 10px;
    padding: 10px;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}

.homescreen-image{
    margin-top: 15px;
}


/* Second container */

.homescreen-body-conatiner2{
    display: flex;
    flex-direction: row;
    margin:10px;
}

.homescreen-text2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 55%;
    /* margin-left: 5%; */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
}


.heading-container2{
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 38px;
    /* or 106% */
    color: #000000;
}

.homescreen-body-conatiner3{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    /* height:40%; */
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    overflow: hidden;
    margin:10px;
}

.homescreen-text3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    word-wrap: break-word;
    width: 55%;
}

.homescreen-body-conatiner4{
    display: flex;
    flex-direction: row;
    margin-top: 2%;
    font-family: Nunito Sans;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 38px;
    color: #000000;
    margin:10px;

}


.homescreen-text4{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}

.get-started{
    font-weight: bold;
    color: #FFFDFD;
    background: #898B5B;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;    
    width: fit-content;
    padding: 5px;
}